main a{
    display: inline-block;
    width: 100px;
    height:30px ;
   text-decoration: overline underline;
   padding: 40px;
   color: black;
   border-style: dashed ;
}

 #articleId{
     text-align: center;
 }


 

    




